/* For name in upper left */
header {
    background-color: slategrey;
}
/* TODO: Change px to %? 
         Make padding and margin more compact? 
         Fix background color */
h1 {
    color: snow;
    background-color: steelblue;
    padding: 10px 0px 10px 5px;
    margin: 10px 10px 10px 30px;
}

h2 {
    /* make it inline? So content is always to the right? */
    /* Add rule line on right side */
}

h3 {
    /* In blocks within cards */
}

p {
    /* I guess this will just be used for About Me text */
}

nav ul {
    /* remove bullets, make inline, etc. */
    background-color: red;
}

p.subtitle {
    /* For subtitle in big graphic section */
}

p.tools {
    /* Descriptions of tools, technologies used in each project */
}

/* The section containing the cards (i.e., the flex box container for the cards) */
#cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;   
    width: 80%;
    height: 150vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px; 
}

/* Styles for cards (flex blocks) */
.card {
    width: 48%;
    margin-bottom: 2%;
}

#first {
    width: 96%;
    margin-top: 2%;
}